@font-face {
    font-family: 'chaneyultra_extended';
    font-weight: 400;
    src: url('chaney-ultraextended-webfont.eot');
    src: url('chaney-ultraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('chaney-ultraextended-webfont.woff2') format('woff2'),
         url('chaney-ultraextended-webfont.woff') format('woff'),
         url('chaney-ultraextended-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'chaneyultra_extended';
    font-weight: 700;
    src: url('chaney-ultraextended-webfont.eot');
    src: url('chaney-ultraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('chaney-ultraextended-webfont.woff2') format('woff2'),
         url('chaney-ultraextended-webfont.woff') format('woff'),
         url('chaney-ultraextended-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'chaneyultra_extended';
    font-weight: 800;
    src: url('chaney-ultraextended-webfont.eot');
    src: url('chaney-ultraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('chaney-ultraextended-webfont.woff2') format('woff2'),
         url('chaney-ultraextended-webfont.woff') format('woff'),
         url('chaney-ultraextended-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'chaneyultra_extended';
    font-weight: 300;
    src: url('chaney-ultraextended-webfont.eot');
    src: url('chaney-ultraextended-webfont.eot?#iefix') format('embedded-opentype'),
         url('chaney-ultraextended-webfont.woff2') format('woff2'),
         url('chaney-ultraextended-webfont.woff') format('woff'),
         url('chaney-ultraextended-webfont.ttf') format('truetype');
}